h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
.item{
    background: #333;    
    text-align: center;
    height: 300px !important;
}
.image{
    width: 200px;
    height: 200px;
}
.bs-example{
	margin: 20px;
}

.gallery{
    text-align: center;
}

#menu{
    text-align: center;
}
.left{
        display: inline-block;
}
.right{
        display: inline-block;
}
.pgNum{
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: gray;
    display: inline-block;
}
.green{
    background-color: green;
}